.sidebar-tabs,
.sidebar-tabs-visible {
    /* height: calc(100vh - 69px); */
    /* height: calc(100vh - 90px);  */
    height: 100%;
}

.absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
    display: none;

}


.design_tabs .absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
    background-color: transparent;
    border-bottom: 1px solid var(--purple-color);
    border-radius: 0px;
    display: block;
}

.right_arrow_tootltip_content:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #000000 transparent transparent;
}
.search-input input[type="search"]::-webkit-search-cancel-button {
   display: none;
    }

.active-tab {
    background-color: var(--activeTab-color);
    border-radius: 11px 0px 0px 11px;
}

.active-tab p {
    color: #fff;
}

.active-tab svg path {
    fill: var(--purple-color);
}

.active-tab .uploadtab svg path {
    fill: var(--purple-color);
    stroke: var(--purple-color);
}
.scroll{
    display: none;
}

@media(min-width:767px) and (max-width:1920px) {
    .tab_content {
        height: 100% !important;
    }
}

@media(max-width:767px) {

    .sidebar-tabs-visible .sidebar_tabs {
        position: fixed;
        bottom: 0px;
        width: 100%;
        z-index: 99999;
        border-radius: 0px;
        left: 0px;
        padding: 16px 15px;
        flex-direction: row;
        justify-content: center;
        background-color: #18191b;
        height: 82px;
    }


    .tab_content {
        width: auto;
        height: 600px;
        position: fixed;
        bottom: 72px;
        border-radius: 15px 15px 15px 15px;
        z-index: 999;
        left: 0px;
        right: 0px;
        margin: 0px 13px;
    }

    .scroll {
        display: block;
        background: #9B7EDB;
        height: 10px;
        width: 48px;
        display: block;
        border-radius: 10px;
        position: absolute;
        top: 7px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .sidebar-tabs {
        height: auto;
        display: none;
    }

    .sidebar-tabs-visible {
        height: auto;
        display: block;
    }

    .sidebar-close-btn {
        display: none;
    }


    .design_tabs .absolute.inset-0.z-10.h-full.bg-white.rounded-md.shadow {
        border-radius: 0px !important;
    }

    .active-tab {
        border-radius: 12px;
    }

}
